Code/Azure Data Factory/pipeline/PL_Master.json
{
	"name": "PL_Master",
	"properties": {
		"activities": [
			{
				"name": "KeyVaultApiKey",
				"description": "Get API Key from the Key Vault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://keyvaultskdev0001.vault.azure.net/secrets/apiGoogleNews/b086b00aab1b43bda6995675b290fefc?api-version=7.0",
					"method": "GET",
					"linkedServices": [
						{
							"referenceName": "AzureKeyVaultDev",
							"type": "LinkedServiceReference"
						}
					],
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "GoogleNewsSource",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "KeyVaultApiKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SourceRESTGoogleNews",
						"type": "DatasetReference",
						"parameters": {
							"from": {
								"value": "@pipeline().parameters.date",
								"type": "Expression"
							},
							"to": {
								"value": "@pipeline().parameters.date",
								"type": "Expression"
							},
							"apiKey": {
								"value": "@activity('KeyVaultApiKey').output.value",
								"type": "Expression"
							},
							"qInTitle": {
								"value": "@pipeline().parameters.topic",
								"type": "Expression"
							},
							"language": {
								"value": "@pipeline().parameters.language",
								"type": "Expression"
							},
							"sortBy": {
								"value": "@pipeline().parameters.sortBy",
								"type": "Expression"
							},
							"pageSize": {
								"value": "@pipeline().parameters.pageSize",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SinkJSONGoogleNews",
						"type": "DatasetReference",
						"parameters": {
							"qInTitle": {
								"value": "@pipeline().parameters.topic",
								"type": "Expression"
							},
							"from": {
								"value": "@pipeline().parameters.date",
								"type": "Expression"
							},
							"to": {
								"value": "@pipeline().parameters.date",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "DB_Bronze_to_SR",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "GoogleNewsSource",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/stepankochetkov@gmail.com/news-russia/Code/Databricks/bronze_to_silver_raw/GoogleNewsJson",
					"baseParameters": {
						"source": {
							"value": "@pipeline().parameters.source",
							"type": "Expression"
						},
						"topic": {
							"value": "@pipeline().parameters.topic",
							"type": "Expression"
						},
						"date": {
							"value": "@pipeline().parameters.date",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_DB_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "DB_SR_to_ST_GoogleNews",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "DB_Bronze_to_SR",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/stepankochetkov@gmail.com/news-russia/Code/Databricks/silver_raw_to_silver_transformed/DB_News_Sentimental_Analysis",
					"baseParameters": {
						"source": {
							"value": "@pipeline().parameters.source",
							"type": "Expression"
						},
						"topic": {
							"value": "@pipeline().parameters.topic",
							"type": "Expression"
						},
						"date": {
							"value": "@pipeline().parameters.date",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_DB_DEV",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"date": {
				"type": "string",
				"defaultValue": "2022-02-25"
			},
			"topic": {
				"type": "string",
				"defaultValue": "Russia OR Russian"
			},
			"language": {
				"type": "string",
				"defaultValue": "en"
			},
			"pageSize": {
				"type": "string",
				"defaultValue": "100"
			},
			"sortBy": {
				"type": "string",
				"defaultValue": "popularity"
			},
			"source": {
				"type": "string",
				"defaultValue": "Google News"
			}
		},
		"annotations": []
	}
}