Code/Azure Data Factory/pipeline/SourceToBronze.json
{
	"name": "SourceToBronze",
	"properties": {
		"activities": [
			{
				"name": "Google News",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "WebKeyVault",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SourceRESTGoogleNews",
						"type": "DatasetReference",
						"parameters": {
							"from": {
								"value": "@pipeline().parameters.date",
								"type": "Expression"
							},
							"to": {
								"value": "@pipeline().parameters.date",
								"type": "Expression"
							},
							"apiKey": {
								"value": "@activity('WebKeyVault').output.value",
								"type": "Expression"
							},
							"qInTitle": {
								"value": "@pipeline().parameters.topic",
								"type": "Expression"
							},
							"language": {
								"value": "@pipeline().parameters.language",
								"type": "Expression"
							},
							"sortBy": {
								"value": "@pipeline().parameters.sortBy",
								"type": "Expression"
							},
							"pageSize": {
								"value": "@pipeline().parameters.pageSize",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SinkJSONGoogleNews",
						"type": "DatasetReference",
						"parameters": {
							"qInTitle": {
								"value": "@pipeline().parameters.qInTitle",
								"type": "Expression"
							},
							"from": {
								"value": "@pipeline().parameters.from",
								"type": "Expression"
							},
							"to": {
								"value": "@pipeline().parameters.to",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "WebKeyVault",
				"description": "",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://keyvaultskdev0001.vault.azure.net/secrets/apiGoogleNews/b086b00aab1b43bda6995675b290fefc?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"date": {
				"type": "string",
				"defaultValue": "2022-01-17"
			},
			"topic": {
				"type": "string",
				"defaultValue": "Russia OR Russian"
			},
			"language": {
				"type": "string",
				"defaultValue": "en"
			},
			"sortBy": {
				"type": "string",
				"defaultValue": "popularity"
			},
			"pageSize": {
				"type": "string",
				"defaultValue": "100"
			}
		},
		"annotations": []
	}
}